@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Off-white);
    width: 100%;
    padding: 1rem;
}

.sidebar-toggle {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0rem;
    width: 17rem;
    height: 100%;
    background: var(--Off-white);
    display: flex;
    align-items: start;
    flex-direction: column;
    transform: translate(100%);
}

.show-sidebar {
    transform: translate(0);
}

.close-btn {
    background: transparent;
    border-color: transparent;
    color: var(--Very-dark-blue);
    cursor: pointer;
    position: relative;
    top: 2rem;
    right: -12.5rem;
}

.close-btn img {
    width: 2.5rem;
}

.links {
    padding-top: 5rem;
    padding-left: 0.5rem;
}

.links li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.links li a {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1rem 1.5rem;
    color: var(--Very-dark-blue);
    transition: 0.4s;
    text-decoration: none;
}

.links li a:hover {
    color: var(--Soft-red);
    padding-left: 1.75rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    gap: 1rem;
}

main .web-3-mobile {
    width: 21rem;
}

main .web-3-desktop {
    width: 0;
}

main h1 {
    font-size: 2.55rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
    padding-right: 2rem;
}

main p {
    font-size: 0.98rem;
    font-weight: 400;
    margin-bottom: 1.7rem;
}

main button {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--Off-white);
    border: none;
    background-color: var(--Soft-red);
    padding: 1rem 2.4rem;
    width: 14rem;
    font-size: 0.9rem;
    font-weight: 700;
    transition: .4s;
}

main button:hover {
    background-color: var(--Very-dark-blue);
}

.first {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Very-dark-blue);
    padding: 0.8rem;
    width: 22.7rem;
    color: var(--Off-white);
    margin: 4rem 0 3rem 0;
}

.first h2 {
    color: var(--Soft-orange);
    font-size: 2rem;
    font-weight: 700;
}

.first .left {
    padding: 1.4rem 0 3rem 0;
    border-bottom: 1px solid var(--Grayish-blue);
}

.first .right {
    padding: 1.4rem 0 3rem 0;
}

.first .left a, .right a {
    font-size: 1.1rem;
    font-weight: 700;
    transition: .4s;
    color: var(--Off-white);
    text-decoration: none;
}

.first .left a:hover, .right a:hover {
    color: var(--Soft-orange);
}

.first .left p, .right p {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1.1rem;
}

.second {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem 0;
    width: 22.7rem;
    gap: 2rem;
    margin-bottom: 4rem;
}

.second .box {
    display: flex;
    justify-content: center;
    gap: 1.4rem;
}

.second .box img {
    width: 5.5rem;
}

.second .box h1 {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--Grayish-blue);
    padding-bottom: 0.7rem;
}

.second .box a {
    font-size: 1rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    transition: .4s;
    text-decoration: none;
}

.second .box a:hover {
    color: var(--Soft-red);
}

.second .box p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--Grayish-blue);
    padding-top: 0.7rem;
    padding-right: 0.7rem;
}